{{define "base"}} 

<!doctype html> 

<html lang='en'> 

<head><meta charset='utf-8'> 

   
</head>
<body>
    <header> 
        <h1><a href='/'>SIMPLEFORMS</a></h1> 
    </header> 
    <nav>
        <a href='/'>Home</a> 
        <a href='/snippet/create'>Create snippet</a>
    </nav> 
    
    <main>{{template "main" .}} </main> 
    {{template "footer" .}}
</body> 
</html> 
{{end}}