<!DOCTYPE html>
<html>
<body>

    <p>Hi,</p>
    <p>Thanks for generating key on SIMPLEFORMS. We're excited to have you on board!</p> 
    
    <p>For future reference, your details are :</p> 

    <h3>Email:</h3><span>{{.Email}}</span><br/><br/>
    <h3>Access Key:</h3><span>{{.AccessKey}}</span><br/><br/>

    <p>Thanks,</p> 
    <p>The SIMPLEFORMS Team</p> 

</body>
</html>